<table id="socialtable">
  <tr>
    <td>
      <a href="http://github.com/joelmartinez" rel="me">
        <img src="/design/images/icon_github.png" />
      </a>
    </td>
    <td>
      <a href="http://twitter.com/joelmartinez" rel="me">
        <img src="/design/images/icon_twitter.png" />
      </a>
    </td>
    <td>
      <a href="http://www.linkedin.com/in/joelmartinez" rel="me">
        <img src="/design/images/icon_linkedin.png" />
      </a>
    </td>
  </tr>
</table>

<p>Software Engineer at <a href="https://docs.microsoft.com">Microsoft</a> (via <a href="https://xamarin.com">Xamarin</a>). 
   Founded <a href="http://onetug.org" alt="The Orlando .NET User Group">ONETUG</a>. '
   Author of <a href="http://amzn.com/1849686769" style="font-style:italic">C# 5 First Look</a> and <a href="https://www.amazon.com/author/joelmartinez">others</a>.
</p>
