<table id="socialtable">
  <tr>
    <td>
      <a rel="me" href="https://mastodon.social/@Raw("@")joelmartinez">
        <img src="/design/images/mastodon-logo.svg" style="height:120px;width:120px" alt="My place in the fediverse, Mastodon">
      </a>
    </td>
    <td>
      <a href="http://github.com/joelmartinez" rel="me">
        <img src="/design/images/icon_github.png" />
      </a>
    </td>
    <td>
      <a href="http://twitter.com/joelmartinez" rel="me">
        <img src="/design/images/icon_twitter.png" />
      </a>
    </td>
    <td>
      <a href="http://www.linkedin.com/in/joelmartinez" rel="me">
        <img src="/design/images/icon_linkedin.png" />
      </a>
    </td>
  </tr>
</table>

<p>Software Engineer at <a href="https://docs.microsoft.com">Microsoft</a> (via <a href="https://xamarin.com">Xamarin</a>). 
   Founded <a href="http://onetug.org" alt="The Orlando .NET User Group">ONETUG</a>. '
   Author of <a href="http://amzn.com/1849686769" style="font-style:italic">C# 5 First Look</a> and <a href="https://www.amazon.com/author/joelmartinez">others</a>.
</p>

<h2 class="header">This Is the Header</h2>
<div class="nav-menu">
  <span class="filter-titles">GameDev</span>
  <span class="filter-titles">Finance</span>
  <span class="filter-titles">Dev Tools</span>
  <span class="filter-titles">Author</span>
</div>

<div id="timeline">
    
  <div>
    <p class="timeline-title">Microsoft</p>
    <p class="timeline-subheading">Principal Software Engineering Manager</p>
    <p class="timeline-date">Sept 2021 - Present</p>
    <p class="body-text">

      <ul>
        <li>Led team in implementing a new green-field version of <a href="https://learn.microsoft.com/answers">Microsoft Q&A</a>. Launched in January 2023, shipped with zero outage incidents.</li>
        <li>Shipped <a href="https://techcommunity.microsoft.com/t5/microsoft-learn-blog/microsoft-learn-announces-microsoft-q-amp-a-assist-and-new/ba-p/3614012">AI Powered Q&A Assist</a> (public preview at Build 2023 in June, and GA in Oct 2023)</li>
        <li>Shipped <em>Ask Learn</em>, which supports <a href="https://techcommunity.microsoft.com/t5/azure-infrastructure-blog/simplify-it-management-with-microsoft-copilot-for-azure-save/ba-p/3981106">Microsoft Copilot for Azure</a> (public preview at Ignite 2023 in Nov)</li>
      </ul>
    </p>
  </div>

    <div>
    <p class="timeline-title">Microsoft</p>
    <p class="timeline-subheading">Senior Software Engineer</p>
    <p class="timeline-date">July 2016 - September 2021</p>
    <div class="body-text">
      <p>
        Joined via <a href="https://blogs.microsoft.com/blog/2016/02/24/microsoft-to-acquire-xamarin-and-empower-more-developers-to-build-apps-on-any-device/">Xamarin acquisition</a> ... worked with the Microsoft documentation team to migrate all managed API documentation from MSDN to the new <a href="https://learn.microsoft.com/en-us/teamblog/announcing-unified-dotnet-experience-on-docs">.NET API Browser</a>, after customizing and integrating <a href="https://github.com/mono/api-doc-tools">mdoc</a> into the reference publishing pipeline.
      </p>
      <p>
        Later, became a tech lead in the Developer Relations engineering group, focused on improving the reference pipeline, and responsible for the docs search system. <a href="https://www.microsoft.com/en-us/research/blog/the-science-behind-semantic-search-how-ai-from-bing-is-powering-azure-cognitive-search/">Partnered with the Azure Search team</a> on the largest pre-launch pilot of their new cognitive search and answers feature with the documentation index.
      </p>
    </div>
  </div>

  <div>
    <p class="timeline-title">Workable Solutions</p>
    <p class="timeline-subheading">Programmer</p>
    <p class="timeline-date">Nov 2000 - Oct 2003</p>
    <p class="body-text">
      WSI is a third party insurance administrator which manages clients on behalf of insurance companies and agencies. The company provides billing services, in addition to online enrollment. Started this company as a junior asp/vbscript developer, and was soon promoted to a VB6 developer working on core business logic for the payment/billing processor.
    </p>
  </div>

  <div>
    <p class="timeline-title">Community Involvement</p>
    <p class="timeline-subheading">Founded Orlando .NET User Group</p>
    <p class="timeline-date">2000</p>
  </div>

  <div>
    <p class="timeline-title">Personal Milestone</p>
    <p class="timeline-subheading">Daughter Born</p>
    <p class="timeline-date">2001</p>
  </div>

  <div>
    <p class="timeline-title">Publication</p>
    <p class="timeline-subheading">Published First Book (ASP.NET)</p>
    <p class="timeline-date">2002</p>
  </div>

  <div>
    <p class="timeline-title">Career Challenge</p>
    <p class="timeline-subheading">First Negative Experience in a Job</p>
    <p class="timeline-date">2003</p>
  </div>

  <div>
    <p class="timeline-title">Personal Milestone</p>
    <p class="timeline-subheading">Son Born</p>
    <p class="timeline-date">2003</p>
  </div>

  <div>
    <p class="timeline-title">Career Development</p>
    <p class="timeline-subheading">Consultant</p>
    <p class="timeline-date">2003</p>
  </div>

  <div>
    <p class="timeline-title">Career Development</p>
    <p class="timeline-subheading">Job at EA (Superman Returns)</p>
    <p class="timeline-date">2004</p>
  </div>

  <div>
    <p class="timeline-title">Publication</p>
    <p class="timeline-subheading">Macromedia Dreamweaver 2004 Magic</p>
    <p class="timeline-date">2004</p>
  </div>

  <div>
    <p class="timeline-title">Career Development</p>
    <p class="timeline-subheading">Job at Bank</p>
    <p class="timeline-date">2006</p>
  </div>

  <div>
    <p class="timeline-title">Career Development</p>
    <p class="timeline-subheading">Job at Financial Services Startup</p>
    <p class="timeline-date">2007</p>
  </div>

  <div>
    <p class="timeline-title">Personal Challenge</p>
    <p class="timeline-subheading">House Foreclosed</p>
    <p class="timeline-date">2009</p>
  </div>

  <div>
    <p class="timeline-title">Career Challenge</p>
    <p class="timeline-subheading">Laid Off</p>
    <p class="timeline-date">2010</p>
  </div>

  <div>
    <p class="timeline-title">Relocation</p>
    <p class="timeline-subheading">Moved to NYC (Startup Acquired)</p>
    <p class="timeline-date">2010</p>
  </div>

  <div>
    <p class="timeline-title">Career Development</p>
    <p class="timeline-subheading">Mobile App Development</p>
    <p class="timeline-date">2011</p>
  </div>

  <div>
    <p class="timeline-title">Relocation</p>
    <p class="timeline-subheading">Moved Back to Orlando</p>
    <p class="timeline-date">2012</p>
  </div>

  <div>
    <p class="timeline-title">Publication</p>
    <p class="timeline-subheading">Published C# 5 First Look</p>
    <p class="timeline-date">2012</p>
  </div>

  <div>
    <p class="timeline-title">Career Development</p>
    <p class="timeline-subheading">Joined Xamarin (Startup)</p>
    <p class="timeline-date">2013</p>
  </div>

  <div>
    <p class="timeline-title">Career Milestone</p>
    <p class="timeline-subheading">Microsoft Acquired Xamarin</p>
    <p class="timeline-date">2016</p>
  </div>

  <div>
    <p class="timeline-title">Professional Achievement</p>
    <p class="timeline-subheading">Built .NET API Reference Pipeline</p>
    <p class="timeline-date">2017</p>
  </div>

  <div>
    <p class="timeline-title">Strategic Partnership</p>
    <p class="timeline-subheading">Partnership with Azure Cognitive Search</p>
    <p class="timeline-date">2021</p>
  </div>

  <div>
    <p class="timeline-title">Career Advancement</p>
    <p class="timeline-subheading">Became Principal/Manager</p>
    <p class="timeline-date">2021</p>
  </div>

  <div>
    <p class="timeline-title">Professional Challenge</p>
    <p class="timeline-subheading">First Layoff as a Manager</p>
    <p class="timeline-date">2023</p>
  </div>

  <div>
    <p class="timeline-title">Innovation and Development</p>
    <p class="timeline-subheading">Shipped Q&A, Q&A AI Assist, Azure Copilot Integration</p>
    <p class="timeline-date">2023</p>
  </div>


  </div>