<!DOCTYPE html>
<html>
<head>
	<title>@Model.Title</title>
	<link rel="stylesheet" type="text/css" href="/design/style.css" />
</head>
<body>
  <div id="header">
    <div>
	  <a href="/"><img height="50" width="50" src="http://www.gravatar.com/avatar/a61a4be80ce39683142620a76299820b.png" title="ItsAMeee" /></a>
      <a href="/about">About</a>
    </div>
  </div>

  <div id="contentwrapper">
	  <div id="content">
		@Raw(Model.Content);
	  </div>
  </div>

  <div id="footer">
    copyright 2013
  </div>
</body>
</html>