<link rel="stylesheet" type="text/css" href="/design/os.css@(Model.VersionQueryString)" />

<div id="os-root" class="os-container">
  <div class="loading-message">
    Initializing CodeCube OS...
  </div>
</div>

<script src="/script/os.gen.js@(Model.VersionQueryString)"></script>