
  <h1>@Model.Title</h1>
  <p>Posted on @Model.PublishedOn.ToShortDateString()</p>
  <div>
    @Raw(Model.ParsedBody)
  </div>
  <p>Joel Martinez</p>
<p>See more in the <a href="/#archives">archives</a>
</p>
